.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .logoText {
    font-family: "Montez", cursive;
    color: blue;
    margin: 0;
    padding: 0;
  }

  .subHeading {
    font-family: "Ubuntu Mono", monospace;
    margin: 0;
    font-weight: normal
  }

  .headerBtn button {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right:20px;
    margin: 0.3rem;
    cursor: pointer;
    text-align: center;
  }

  #signUpModalTag {
    color:grey;
  }

  #signInModalTag {
    color:grey;
  }




